html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h1,
button,
div {
  font-family: 'Courier New', Courier, monospace;
}

#container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 0;
  max-width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .5em;
  background-color: white;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
  line-height: 25px;
}

.startCell {
  background: green;
}

.finishCell {
  background: red;
}

.wall {
  background: #000;
}

.foundWay {
  background: yellow;
}

#generate,
#clear-path-btn,
#find-path-btn {
  margin: 0 auto;
  display: flex;
  margin-top: 1em;
  font-size: 1.5em;
}