html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-height: 500px;
  margin: 0 auto;
  padding-top: 0;
  max-width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .5em;
  background-color: white;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
}